:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #E6E1C5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #E6E1C5;
  text-decoration: inherit;
}
a:hover {
  color: #2dc7ff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: black
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding-left: 2%;
}

p {
  padding-left: 2%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  display: flex;
  border-bottom: solid 10px #1a1a1a;
  width: 100%;
}

label {
  margin-left: 2%;
  font-weight: bold;
  font-size: 22px;
}

input {
  margin-left: 2%;
  width: 350px;
  margin-bottom: 15px;
}

#root {
  width: 100%;
}

nav {
  display: flex;
}

.button {
  flex: content;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 1%;
  font-size: 22px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1f5673;
  cursor: pointer;
  transition: border-color 0.25s;
  justify-content: space-evenly;
  margin: 0 3%;
  text-align: center;
}

.button:hover {
  border-color: #2dc7ff;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.active {
  color: #fffded;
  background-color: #4a7c59;
}

#message {
  height: 100px;
  vertical-align: top;
  text-wrap: wrap;
}

#header {
  margin: 5% 2%;
}

#idForm {
  width: 125px;
  height: 35px;
}